@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Indianapolis, Indiana<br />
</address>

<address>
    <ul>
        <li><a href="https://www.linkedin.com/in/mdmilroy/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://github.com/mdmilroy" target="_blank"><i class="fab fa-github-square"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mdmilroy/" target="_blank"><i class="fab fa-linkedin"></i></i></a></li>
        <li><a href="https://github.com/mdmilroy" target="_blank"><i class="fab fa-github-square"></i></a></li>
    </ul>
</address>